<div class='container-fluid'>

  <% unless @hide_chrome %>
    <div id="call-to-action-banner" class='row text-center'>
      <div class="col-md-12">
        <h3><strong>Understand</strong> your finances.</h3>
        <%= link_to "<strong>Plan Your Retirement!</strong>".html_safe, pricing_path, class: 'btn btn-lg btn-footer-cta' %>
      </div>
    </div>
  <% end %>

  <div id="main-footer-section" class='row text-center'>

    <div class="col-md-3">
      <h3>Quick Links</h3>
      <ul class='list-unstyled'>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Plans & Pricing", pricing_path %></li>
        <li><%= link_to "Tour", tour_path %></li>
        <li><%= link_to "Our Video", video_path %></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li><%= link_to "Available Asset Classes", asset_classes_path %></li>
      </ul>
    </div>

    <div class="col-md-3" id='contact-scroll'>
      <h3>Contact Us</h3>
      <p>
        <%= fa_icon 'map-marker' %>&nbsp;&nbsp;Calgary, AB - Canada<br/>
        <% if ENV['AUTHOR_PHONE'].present? %>
          <%= fa_icon 'phone', text: ENV['AUTHOR_PHONE'] %><br/>
        <% end %>
        <%= fa_icon 'envelope-o' %>&nbsp;&nbsp;<a class='email-link' href="mailto:<%= ENV['AUTHOR_EMAIL'] %>?subject=<%= ENV['AUTHOR_EMAIL_CONTACT_SUBJECT'] %>"><%= ENV['AUTHOR_EMAIL'] %></a>
      </p>
    </div>

    <div class="col-md-3">
      <h3>We Are Social</h3>
      <p id='social-links'>
        <% if ENV['AUTHOR_FACEBOOK'].present? %>
          <a id='facebook-profile-link' href="http://www.facebook.com/<%= ENV['AUTHOR_FACEBOOK'] %>" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
        <% end %>
        <% if ENV['AUTHOR_TWITTER'].present? %>
          <a id='twitter-profile-link' href="https://twitter.com/intent/user?screen_name=<%= ENV['AUTHOR_TWITTER'] %>" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
        <% end %>
        <% if ENV['COMPANY_LINKEDIN'].present? %>
          <a id='linkedin-profile-link' href="https://www.linkedin.com/company/<%= ENV['COMPANY_LINKEDIN'] %>" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
        <% end %>
        <% if ENV['AUTHOR_GOOGLEPLUS'].present? %>
          <a id='googleplus-profile-link' href="https://plus.google.com/<%= ENV['AUTHOR_GOOGLEPLUS'] %>/" target='_blank'><i class="fa fa-google-plus fa-lg"></i></a>
        <% end %>
        <a id='rss-link' href="<%= posts_feed_path %>" target='_blank'><i class="fa fa-rss fa-lg"></i></a>
        <% if ENV['AUTHOR_EMAIL'].present? %>
          <a class='email-link' href="mailto:<%= ENV['AUTHOR_EMAIL'] %>?subject=<%= ENV['AUTHOR_EMAIL_CONTACT_SUBJECT'] %>"><i class="fa fa-envelope fa-lg"></i></a>
        <% end %>
      </p>
    </div>

    <div class="col-md-3">
      <h3>Newsletter</h3>
      <p id='newsletter-text'>Subscribe to our newsletter and be the first to know our latest updates.</p>
      <%= render partial: 'shared/newsletter_form', locals: { small: true } %>
    </div>
  </div><!--/ #main-footer-section -->

  <div id="copyright-section" class='row'>
    <div class="col-md-6">
      <p class='small-on-phones'>Copyright &copy;<%= Time.zone.now.year %> <a href="<%= root_path %>" alt="RetirementPlan.io Copyright">RetirementPlan.io</a>. All Rights Reserved.</p>
    </div>
    <div class="col-md-6" id='footer-links'>
      <p>
        <%= link_to "Terms", terms_path %> |
        <%= link_to "Privacy", privacy_path %> |
        <%= link_to "Disclosures", disclosures_path %> |
        <%= link_to "Sitemap", sitemap_path %>
      </p>
    </div>
  </div>

</div> <!-- container-fluid -->
