<% encoded_title = CGI::escape(title) %>

<div class='row'>

  <!-- For centering purposes -->
  <div class='col-md-1'></div>

  <div class='col-md-2' style="margin-top:-5px;">
    <div class="fb-like" data-href="<%= url %>" data-colorscheme="light" data-send="tue" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  </div>

  <div class='col-md-2'>
    <a class='social-link' href='https://twitter.com/intent/tweet?url=<%= url %>&via=<%= ENV['AUTHOR_TWITTER'] %>' rel='nofollow' target="_blank">
      <i class='fa fa-twitter-square'></i>
    </a>
  </div>

  <div class='col-md-2' style="margin-top:5px;">
    <div class="g-plusone" data-href="<%= url %>" data-annotation='none'></div>
  </div>

  <div class='col-md-2'>
    <a class='social-link' href='http://www.linkedin.com/shareArticle?mini=true&url=<%= url %>&title=<%= encoded_title %>' rel='nofollow' target='_blank'>
      <i class='fa fa-linkedin-square'></i>
    </a>
  </div>

  <div class='col-md-2'>
    <a class='social-link' id='email-link' href="mailto:?subject=I thought you might be interested in this page&body=The URL is: <%= url %>" rel='nofollow'>
      <i class='fa fa-envelope'></i>
    </a>
  </div>
</div>
