<% title "Home" %>
<% description "RetirementPlan.io - simplified retirement modeling." %>

<div class='container-fluid'>

  <div id="home-first-section" class="row text-center large-top-padding">

    <div class="col-md-12 text-center">
      <h1>Welcome to <b>RetirementPlan.io</b></h1>
      <h3>Easy, do-it-yourself retirement planning for everyone</h3>
      <br>
    </div>

    <div class='row'>
      <div class="col-md-6 text-center">
        <a href="//fast.wistia.net/embed/iframe/kqe26o1qad?popover=true" class="wistia-popover[height=360,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/d8f432e445c0215df34883b1267173ea9d620aea.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=320x180" alt="" /></a>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
      </div>

      <div class='col-md-6'>
        <p class='lead text-center'>
          Discover the retirement planning tool you should have had all along.
        </p>

        <div id='simulation-counter'>
          <% simulation_count = $redis.get $SIMULATION_COUNT_KEY %>
          <p><span class="badge"><%= number_with_delimiter(simulation_count, :delimiter => ',') %></span> lifetimes simulated, <span class='underlined'>and counting</span>.</p>
        </div>

        <p id='hero-register-button'><a href="<%= sign_up_path %>" type="submit" class="btn btn-lg <%= ab_test('home_page_button_colour') %> JS-launches-sign-up-modal">Register for Free</a></p>
      </div>
    </div>

  </div> <!-- home-first-section -->


  <div id="main-benefits" class="row text-center grey-background">

    <h2><span class="heavy">Easy</span> to use, <span class="heavy">effective</span>, backed by <span class="heavy">Nobel Prize-winning mathematics</span>.</h2>
    <hr class='extra-bottom-margin'>

    <div class="col-md-3">
      <i class='fa fa-tasks fa-3x'></i>
      <h3><%= link_to "Asset Allocation", asset_allocation_path %></h3>
      <p>Select from a range of appropriate portfolios tailored to your risk tolerance. Pick what fits you best.</p>
    </div>

    <div class="col-md-3">
      <i class='fa fa-bar-chart-o fa-3x'></i>
      <h3><%= link_to "Retirement Planning", retirement_planning_path %></h3>
      <p>Perform Monte Carlo simulations to determine if your money should last through retirement. Geared to your individual characteristics and goals.</p>
    </div>

    <div class="col-md-3">
      <i class='fa fa-envelope fa-3x'></i>
      <h3><%= link_to "Instant Notification", instant_notification_path %></h3>
      <p>We will constantly track your portfolio and let you know when it drifts out of balance. Simple, easy-to-follow instructions are provided on how to rebalance.</p>
    </div>

    <div class="col-md-3">
      <i class='fa fa-lock fa-3x'></i>
      <h3><%= link_to "Secure", security_path %></h3>
      <p>We never need to hold your money - it is always under your control. All of your personal data is secured by industry-standard encryption.</p>
    </div>

  </div> <!-- main-benefits -->


  <div id="app-steps" class="row">

    <h2 class="text-center">The RetirementPlan.io Process</h2>
    <hr class='extra-bottom-margin'>

    <div class='row'>
      <div class="col-md-6">
        <ul class='list-checkmarked text-bigger text-left'>
          <li>
            <strong>Quick Questionnaire:</strong>
            Answer a few simple questions to give us a better idea of your risk tolerance and financial goals.
          </li>
          <li>
            <strong>Get Recommendations:</strong>
            Based on the results of your questionnaire, we generate a customized set of portfolios for you and provide guidance on selection. Whether you are risk averse or open to volatility, you are in the driver's seat.
          </li>
          <li>
            <strong>Simulate Retirement:</strong>
            Run hundreds of simulated trials of your lifetime using your selected portfolio. We don't just assume your portfolio will grow at 8% per year - we use statistical techniques to provide a range of outcomes.
          </li>
          <li>
            <strong>Purchase ETFs:</strong>
            RetirementPlan.io <em>never</em> has access to your money.  Purchase ETFs through your favourite discount brokerage or at your bank, and then update our records with your holdings.
          </li>
          <li>
            <strong>We track your portfolio.</strong>
            RetirementPlan.io will track your portfolio and let you know when it is time to rebalance (and <em>exactly</em> how to do it!)
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <%= image_tag 'home/app-screenshot.png', class: "img-responsive", alt: "App example screenshot" %>
      </div>
    </div>

    <br>
    <hr>

    <div class='row'>
      <div class='col-md-12 text-center'>
        <p class='lead'>Still want to learn more? Check out <%= link_to "the tour", tour_path %>!</p>
      </div>
    </div>

    <br>
    <br>
    <br>

  </div> <!-- app-steps -->

</div> <!-- container-fluid -->

<div class='container-fluid'>
  <div id="social-proof-slider" class='row text-center'>
    <div class='col-md-12'>
      <div id="carousel-example-generic" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <h3>"I'm comfortable purchasing ETFs on my own - but didn't know how to determine the effects of assets allocation on my retirement. This should help cut down on the fees I pay every year."</h3>
            <h4>R.Walker, <em>Calgary, AB</em></h4>
          </div>
          <div class="item">
            <h3>"The site was very easy to follow (even without being an expert), and well laid out. It helped me to determine how much I could spend in retirement without running out of money. Thanks!"</h3>
            <h4>H.Walker, <em>Calgary, AB</em></h4>
          </div>
        </div>
        <br>
        <br>
        <br>
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
