<% title @post.title %>
<% description @post.excerpt %>

<% cache(['blog', 'show', @post]) do %>

  <div class='row blog-section'>

    <div class='col-md-9 col-md-push-3 blog-post'>
      <h1 class='text-center'><%= @post.title %></h1>

      <div class='post-meta'>
        <ul class='list-inline meta-entries bordered text-muted'>

          <li class='meta-item'>
            <i class='fa fa-clock-o'></i>&nbsp;
            <%= @post.formatted_date %>
          </li>

          <li class='meta-item'>
            <i class='fa fa-clock-o'></i>&nbsp;
            <%= reading_time(@post.html) %>
          </li>

          <li class='meta-item'>
            <i class='fa fa-user'></i>&nbsp;
            &nbsp;by <%= @post.author %>
          </li>

          <% primary_tag = @post.tags[0] %>
          <% if primary_tag %>
            <li class='meta-item'>
              <i class='fa fa-archive'></i>&nbsp;
              Filed under <%= link_to "#{primary_tag.titleize}", tags_path(primary_tag)%>
            </li>
          <% end %>

        </ul>
      </div>

      <div class='post-content text-left'>
        <%= @post.html.html_safe %>
      </div>

      <div class='under-post'>

        <h4>SHARE THIS POST</h4>
        <%= render partial: 'shared/social_links', locals: {url: @post.path, title: @post.title} %>
        <br />
        <p><a href="https://twitter.com/<%= ENV['AUTHOR_TWITTER'] %>" class="twitter-follow-button" data-show-count="false">Follow @<%= ENV['AUTHOR_TWITTER'] %></a></p>

        <p>
          <i class='fa fa-angle-left'></i>&nbsp;
          <%= link_to "All Posts", posts_path %>
        </p>
      </div>
    </div> <!-- col-md-9 -->

    <div class='col-md-3 col-md-pull-9'>
      <%= render partial: 'posts/signup_widget' %>
      <%= render partial: 'posts/newsletter_widget' %>

      <div class='widget'>
        <h4 class='widget-title'><i class='fa fa-book'>&nbsp;</i>Related Content</h4>
        <ul class='widget-list'>
          <% @post.related_posts.each do |post_slug| %>
            <% related_post = Post.find(post_slug) %>
            <li><%= link_to related_post.title, related_post.path %></li>
          <% end %>
        </ul>

        <h4 class='widget-title'><i class='fa fa-tags'></i>&nbsp;Post Tags</h4>
        <ul class='widget-list'>
          <% @post.tags.each do |tag| %>
            <li><%= link_to tag.titleize, tags_path(tag) %></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- col-md-3 -->

  </div> <!-- row -->

<% end %>
