<% title "Posts tagged '#{@tag.titleize}'" %>
<% description "RetirementPlan.io blog posts tagged #{@tag.titleize}" %>

<div class='row blog-section'>

  <div class='col-md-9 col-md-push-3'>
    <h1 class='text-center'>Posts tagged '<%= @tag.titleize %>'</h1>
    <hr>

    <ul class='list-unstyled posts-for-tag'>
      <% @posts.each do |post| %>
        <% cache(['tag_entries', post]) do %>

          <li>
            <h3><%= link_to post.title, post.path %></h3>

            <div class='post-meta'>
              <ul class='list-inline meta-entries text-muted'>

                <li class='meta-item'>
                  <i class='fa fa-clock-o'></i>&nbsp;
                  <%= post.formatted_date %>
                </li>

                <li class='meta-item'>
                  <i class='fa fa-clock-o'></i>&nbsp;
                  <%= reading_time(post.html) %>
                </li>

                <li class='meta-item'>
                  <i class='fa fa-user'></i>&nbsp;
                  &nbsp;by <%= post.author %>
                </li>

              </ul>
            </div>

            <div class='tags-list'>
              <i class='fa fa-tags'></i>
              <span>&nbsp;Tags:</span>
              <ul>
                <% post.tags.each do |tag| %>
                  <li><%= link_to tag.titleize, tags_path(tag) %></li>
                <% end %>
              </ul>
            </div>
          </li>

        <% end # cache %>
      <% end # posts.each %>
    </ul>

    <div class='text-center'>
      <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
      <% content_for :head do %>
        <% # Generates rel='next/prev' to avoid duplicate content issues %>
        <%= rel_next_prev_link_tags @posts %>
      <% end %>
    </div>
  </div>

  <div class='col-md-3 col-md-pull-9'>
    <%= render partial: 'posts/newsletter_widget' %>
    <%= render partial: 'posts/signup_widget' %>

    <div class='widget'>
      <h4 class='widget-title'><i class='fa fa-tags'>&nbsp;</i>Tags</h4>
      <ul class='widget-list'>
        <% Post.all_tags.each do |tag| %>
          <li><%= link_to tag.titleize, tags_path(tag) %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
